__pycache__
/occupancy-modelling-comparison-discrete-continuous/figures*
/occupancy-modelling-comparison-discrete-continuous/cache*
/occupancy-modelling-comparison-discrete-continuous/Rplots.pdf
slurm-*.out