asttokens==2.4.1
cffi==1.16.0
decorator==5.1.1
executing==2.0.1
ipython==8.24.0
jedi==0.19.1
Jinja2==3.1.4
krop @ https://github.com/arminstraub/krop/archive/v0.6.0.tar.gz#sha256=97022416ec4f2ff70e0ab38d3f3aaff83a68dca99f3e273c29e9f3dd72bf88d9
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
rpy2==3.5.16
setuptools==69.5.1
six==1.16.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.1
tzlocal==5.2
wcwidth==0.2.13
wheel==0.43.0
